HOST_NAME=localhost 
NODE_ENV=development 
PORT=3000 
TENANT_IS_ENABLED=false 
DATABASE_HOST=localhost 
DATABASE_PORT=5432 
DATABASE_NAME=workora 
DATABASE_USER=workora 
DATABASE_PASSWORD=workora_dev 
